.vertical-align-strong,
.vertical-align-weak {
  display: flex;
  flex-direction: row;
}

.vertical-align-strong > [class^="col-"],
.vertical-align-strong > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items 
                              horizontally within the column  */
}

.navbar {
  margin-bottom: 0;
}

.navbar span {
  padding: 0;
}

#name, #role {
  display: inline-block;
}

.thin {
  font-weight: normal;
}

.img-wrap {
  display: inline-block;
}

#map {
  display: block;
  height: 350px;
  width: 100%;
}

#mapDiv {
  height: 450px;
  padding-bottom: 5%;
}

#header, #lets-connect {
  background-color: black;
}

#header {
  padding-top: 10px;
  padding-bottom: 10px;
}

#projects, #mapDiv {
  background-color: #f3f3f3;
}

#internationalize {
  cursor: pointer;
  transition: color 0.2s ease;
}

#internationalize:hover {
  color: white;
}

.education-entry, .project-entry, .work-entry {
  margin-bottom: 20px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  margin-bottom: 8px;
}

.orange {
  /*background-color: #f5ae23;*/
  background-color: #e95332;
}

.orange-text, h3.orange-text {
  /*color: #f5ae23;*/
  color: #e95332;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
}

.dark-gray {
  background-color: #4a4a4a;
}

.welcome-message {
  font-style: italic;
  font-size: 18px;
  color: #f3f3f3;
}

span {
  padding: 5px;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
}

p {
  font-size: 14px;
  color: #333;
}

a {
  color: #1199c3;
  text-decoration: none;
}